#mainpage-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
  .main-content-nav {
    list-style-type: none;
    padding: 0;
    column-count: 2; /* Set the number of columns to 2 */
  }
  
  .main-content-nav h2 {
    margin: 0;
  }
  
  .alz-osa {
    color: red;
  }
  
  @media screen and (min-width: 768px) {
    .main-content-nav {
      column-count: 1; /* Revert to single column for screens wider than 768px (desktop) */
    }
  }
  